@import "../_css";

$normal-bg: $form-highlight-color;
$normal-hover-bg: #1e88cc;
$normal-active-bg: #1374b3;
$normal-border: 1px solid #1a7cbb;

$secondary-bg: #F5F5F5;
$secondary-hover-bg: #EEE;
$secondary-active-bg: #E7E7E7;
$secondary-border: 1px solid #DDD;

$danger-bg: #f56363;
$danger-hover-bg: #da3535;
$danger-active-bg: #cc2a2a;
$danger-border: 1px solid #c11515;

.button {
  font-family: Helvetica, Arial, Sans-serif;
  padding: 8px 25px;
  border-radius: 3px;
  transition: background .2s;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  cursor: pointer;
  &:disabled {
    opacity: $disabled-opacity;
    cursor: default;
  }
}

.normal {
  background: $normal-bg;
  border: $normal-border;
  color: white;
  &:hover {
    background: $normal-hover-bg;
  }
  &:active {
    background: $normal-active-bg;
  }
  &:disabled {
    &:hover, &:active {
      background: $normal-bg;
    }
  }
}

.secondary {
  background: $secondary-bg;
  border: $secondary-border;
  color: #444;
  &:hover {
    background: $secondary-hover-bg;
  }
  &:active {
    background: $secondary-active-bg;
  }
  &:disabled {
    &:hover, &:active {
      background: $secondary-bg;
    }
  }
}

.danger {
  background: $danger-bg;
  border: $danger-border;
  color: white;
  &:hover {
    background: $danger-hover-bg;
  }
  &:active {
    background: $danger-active-bg;
  }
  &:disabled {
    &:hover, &:active {
      background: $danger-bg;
    }
  }
}